@media screen and (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    @import url("https://use.typekit.net/hlg0mdj.css");


    body {
        font-family: "forma-djr-mono", sans-serif;
        font-weight: 200;
    }

    nav {
        padding: 20px;
        background-color: #E12C2B;
        width: 80%;
        height: 100dvh;
        position: absolute;
    }

    nav button {
        width: 10px;
        height: 30px;
        color: white;
        background-color: transparent;
        border: none;
    }

    li a {
        text-decoration: none;
        color: white;
        font-size: 22pt;
    }

    li {
        padding-top: 30px;
        list-style: none;
    }


    /* HEADER */
  
    header .mobile-header {
        padding: 10px;
        position: absolute;
    }

    header .desktop-header {
        display: none;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 18pt;
        font-weight: 300;
    }

    header .mobile-header button {
        height: 50px;
        width: 50px;
        background-color: transparent;
        border: none;
        color: white;
    }

    /* MAIN */

    main {
        height: 30dvh;
        background-image: url(images/wine-bar.jpeg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logotype {
        height: 100dvh;
        width: 45dvh;
        /* padding-bottom: 350px; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
    }

    /* ASIDE */

    aside {
        height: 70dvh;
        background-image: url(images/06.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
    }

    .aside-content {
        padding: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .slogan {
        font-size: 21pt;
        padding-bottom: 50px;
        color: #E12C2B;
        font-weight: 500;
    }


    .image {
        display: flex;
        position: absolute;
        padding-top: 300px;
    }

}


/* DESKTOP */

@media screen and (min-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @import url("https://use.typekit.net/hlg0mdj.css");


    body {
        font-family: "forma-djr-mono", sans-serif;
        font-weight: 200;
        display: flex;
        flex-direction: row;
    }

    /* HEADER */
    header .desktop-header {
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: right;
        padding: 10px;
        position: absolute;
    }
    header .mobile-header {
        display: none;
    }

    header .mobile-header button {
        display: none;
    }

    a {
        font-family: "forma-djr-mono", sans-serif;
        font-weight: 200;
        text-decoration: none;
        padding-right: 40px;
        color: white;
        font-size: 14pt;
        font-weight: 300;
    }

    /* MAIN */

    main {
        height: 100vh;
        width: 50%;
        background-image: url(images/wine-bar.jpeg);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ASIDE */

    aside {
        height: 100vh;
        width: 50%;
        background-image: url(images/06.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
    }

    .slogan {
        display: flex;
        justify-content: center;
        font-size: 21pt;
        padding-bottom: 20px;
        color: #E12C2B;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 500;
    }

    form {
        display: flex;
        position: relative;
        flex-direction: column;
        padding-bottom: 20px;
    }

    input {
        width: 300px;
        height: 40px;
        background: transparent;
        border-bottom: 1px solid white;
        border-top: none;
        border-left: none;
        border-right: none;
        color: white;
        font-size: 14pt;
    }

    label {
        padding-bottom: 10px;
        padding-top: 15px;
        color: white;
        font-size: 14pt;
    }

    button {
        width: 300px;
        height: 40px;
        background: transparent;
        border: none;
        font-size: 16pt;
        color: white;
        text-align: right;
    }

    .image {
        display: flex;
        position: absolute;
        padding-top: 300px;
    }

    .info-text {
        display: flex;
        padding: 3rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: white;
    }
}