@media screen and (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: Monsterrat;
        src: url(fonts/Montserrat-VariableFont_wght.ttf);
    }

    body {
        height: 100dvh;
        background-image: url(images/home-bg-image.png);
        background-size: cover;
        background-repeat: no-repeat;
        font-family: Monsterrat;
        position: relative;
        display: flex;
        flex-direction: column;

    }

    /* POP UP FORM - REGISTER */

    #form-register {
        /* height: 100dvh;
        width: 100dvh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

    .container {
        display: flex;
        /* padding: 30px; */
        align-items: center;
        justify-content: center;
        position: absolute;
        background-image: url(images/photo-1639048759498-22f2068d00ff.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100dvh;
    }

    #close-reg-tab {
        font-size: 30pt;
        color: white;
        background-color: transparent;
        border: none;
    }

    #sign-up {
        height: 60px;
        width: 170px;
        border-radius: 30px;
        border: 1px solid white;
        font-size: 18pt;
        background-color: rgba(255, 255, 255, 0.5);
        font-family: Monsterrat;
    }



    /* POP UP FORM - LOG IN */

    .log-in-container {
        display: flex;
        /* padding: 30px; */
        align-items: center;
        justify-content: center;
        position: absolute;
        background-image: url(images/photo-1639048759498-22f2068d00ff.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100dvh;
    }

    #form-log-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

    #close-log-tab {
        font-size: 30pt;
        color: white;
        background-color: transparent;
        border: none;
    }

    #log-in {
        height: 60px;
        width: 170px;
        border-radius: 30px;
        border: 1px solid white;
        font-size: 18pt;
        background-color: rgba(255, 255, 255, 0.5);
        font-family: Monsterrat;
    }



    /* POP UP FORM - GENERAL */

    form {
        font-family: Monsterrat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 30px;
        height: 80dvh;
        width: 40dvh;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.5);
    }



    input {
        height: 60px;
        width: 230px;
        border-radius: 30px;
        border: 1px solid white;
        font-family: Monsterrat;
        padding-left: 20px;
        padding-right: 20px;
    }


    /* HEADER */


    header {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        height: 50px;
        color: white;
    }

    header a {
        color: white;
        text-decoration: none;
    }


    /* HERO */

    .hero {
        padding-top: 30px;
        padding-left: 20px;
        border: 1px solid blue;
        color: white;
        font-family: Monsterrat;

    }

    .hero-heading {
        color: white;
        font-size: 64pt;
        padding: 0;
        margin: 0;
        font-family: Monsterrat;
        font-weight: 600;
    }

    .hero-content {
        color: white;
        padding-top: 30px;
        font-size: 18pt;
        font-weight: 200;
    }

    /* MAIN */

    .buttons {
        height: 40dvh;
        border: 1px solid pink;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        padding-top: 4rem;

    }

    #reg-button {
        height: 60px;
        width: 170px;
        border-radius: 30px;
        border: 1px solid white;
        font-size: 18pt;
        background-color: rgba(255, 255, 255, 0.5);
        font-family: Monsterrat;
    }

    #log-in-button {
        height: 60px;
        width: 170px;
        border-radius: 30px;
        border: 1px solid white;
        font-size: 18pt;
        background-color: rgba(255, 255, 255, 0.5);
        font-family: Monsterrat;
    }


    /* FOOTER */


    footer {
        background-color: blue;
        height: 100px;
        color: white;
    }


}